*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    
}


nav{
    background: gray;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    width: 100%;
  
}
ul{
    list-style-type: none;
}
a{
 text-decoration: none;
 color: #E5E8DF; 
 
 
}

a:hover{
    text-decoration: underline;
}

.logo a:hover{
    text-decoration: none;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo{
    font-family: 'Black Ops One', cursive;
    
       
}

.logo a,
.toggle a {
    font-size: 30px;
}
.button.secondary {
    border-bottom: 1px solid;
}

/*  body  */
main{
text-align: center;
}
header{
    display:flex;
    padding: 200px 0 50px;
    
    justify-content: center;
    align-content: center;
    font-family: 'Black Ops One', cursive;
  
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    

    
    
}

.aboutMe{
    
    width: 80%;
    height: 90%;
    padding: 20px 0 50px;
    background: #E5E8DF;
    border-radius: 10px;
    display: block;
    margin:0 auto 0;
    max-width: 700px;
    text-align: left;
    line-height: 1.8em;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 50px;
   
   
}
.nameNam{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
} 
h2{
    font-size: 40px;
}

#aboutProjects h2{
    padding: 0 0 50px ;
    font-family: 'Black Ops One', cursive;/* title font*/
   
   
}


#aboutProjects{
    padding: 50px 0;
     border-radius: 10px;
     width: 80%;
     display:block;
     margin: auto;
 }
.projectsTitle h3{
    padding: 25px 0 15px;  
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
 }
 .projectsTitle{
     background-color: #E5E8DF;
     border-radius: 10px;
     padding: 0 10px 20px;
 }


.duneImage{
    padding: 5px 0 0;
    width: 100%;
    height:auto;
    border-radius: 10px;
   
}
.projectsTitle p{
    padding: 15px 0;
}

.projectsTitle h4{
    padding: 20px 0 0;
    font-size: 25px;
    font-weight: bold;

}
.appLinks {
    padding: 22px 0;
    display: flex;
    justify-content: center;
}


.appLinks a{
    font-size: 22px;
    min-width: 20%;
    color:black;
    padding: 5px;
    justify-content: center;
    border: solid 2px black;
    
   
}
.appLinks a:hover{
    background-color: orange;
}




footer{
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    padding: 0 0 20px;
    }
#link-icons img{
    width: 5vh;
    height: 5vh;
    border: 2px solid black;
    border-radius: 5px;
    
}




/* Mobile Menu first */

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 .toggle{
    order: 1;
  }
  .item.button{
      order: 2;
  }
  .item{
      width: 100%;
      text-align: center;
      order: 3;
      display: none;
  }
  .item.active{
      display:block;
  }

  

  

  /* Tablet Menu */
@media all and (min-width: 600px){
  .menu{
          justify-content: center;
 }
  .logo{
    flex: 1;
 }      
  .toggle{
    flex: 1;
    text-align: right;
 }
  .item.button{
    width:auto;
    order: 1;
    display: block;
 }
  .toggle{
    order: 2;
 }
  .button.secondary{
    border: 0;
 }
  .button a {
    padding: 7.5px 15px;
    background: rgb(119, 114, 114);
    border: 1px black solid     /*  color for login and signup */
 }
  .button.secondary a{
    background: transparent; /* no color for sign up */
 }
  .button a:hover{
    text-decoration: none;
 }
  .button:not(.secondary) a:hover{
    background:black;
    border-color: #593200;
 }
  .button.secondary a:hover {
    color:#ddd;
 }
}
/* Desktop */
@media all and (min-width: 900px){
    .item{
        display:block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order:0;
    }
    .item{
        order: 1;
    }
    .button{
        order: 2;
    }
    .menu li{
        padding: 15px 10px;
    }
    .menu li.button{
        padding-right: 0;
    }
}
